<div class="container">

  <div class="main-block mt-5">

    <div class="title">
      <h3>Welcome to Credit Card Checker</h3>
      <p>With the form below you can check the availability of your credit card</p>
    </div>

    <div class="credit-card-form">
      <form action="/cards" method="post">
        <div class="form-inline">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="text" name=card[credit_card_number] placeholder="Your credit card number here" class="form-control" id="credit-card-number" >
          <button type="submit" class="btn btn-primary ml-2">Valider</button>
        </div>
      </form>
    </div>

  </div>

</div>
